---
import ExperienceCard from "./card.astro";

// Definimos las experiencias profesionales en orden cronológico inverso (más reciente primero)
const experiences = [
  {
    title: "Microsoft Dynamics 365 Developer",
    company: "Intelibis",
    period: "Marzo 2024 - Presente",
    description:
      "Desarrollo y personalización de soluciones en Microsoft Dynamics 365. Implementación de flujos de trabajo y automatizaciones para mejorar la eficiencia operativa. Integración de Dynamics 365 con otras plataformas y servicios.",
    technologies: ["C#", "JavaScript", "Power Platform", "SQL Server"],
    isLatest: true,
    isLast: false
  },
  {
    title: "Fronted Developer Jr",
    company: "Rcurso Humano Externo",
    period: "Julio 2022 - Enero 2024",
    description:
      "Desarrollo de una aplicacion de gestion de planillas y recursos humanos. Implementación de funcionalidades para la gestión de empleados, nómina y reportes. Colaboración en el diseño de la interfaz de usuario y experiencia del usuario.",
    technologies: [
      "React",
      "Next.js",
      "Material UI",
      "TypeScript",
      "NestJS",
      "MongoDB",
      "MySQL"
    ],
    isLatest: false,
    isLast: true
  }
];
---

<section class="flex flex-col items-center scroll-mt-20 mt-20" id="experience">
  <div class="max-w-4xl">
    <h1 class="text-4xl font-extrabold leading-tight font-display text-center">Experiencia Profesional</h1>
    <p class="text-muted-foreground text-center mb-10 mt-4 text-balance">
      A lo largo de mi carrera, he tenido la oportunidad de trabajar en una variedad de proyectos que abarcan desde
      aplicaciones web hasta sistemas de gestión empresarial. Aquí hay un resumen de mi experiencia laboral:
    </p>

    <div class="mt-10">
      {
        experiences.map((exp) => (
          <ExperienceCard
            title={exp.title}
            company={exp.company}
            period={exp.period}
            description={exp.description}
            technologies={exp.technologies}
            isLatest={exp.isLatest}
            isLast={exp.isLast}
          />
        ))
      }
    </div>
  </div>
</section>
